:root {
  --color-primary-accent: #5035FF;
  --color-primary-dark: #4A4E74;
  --game-bg-color: 245 245 245;
}

body {
  align-items: center;
  background-color: #0B2434;
  display: flex;
  font-family: 'Karla', sans-serif;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
}

h1, p {
  margin: 0;
}

main {
  background-color: rgb(var(--game-bg-color));
  border-radius: 0.5rem;
  max-width: 23rem;
  min-width: 10rem;
  padding: 2rem;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.25em;
}

.instructions {
  color: var(--color-primary-dark);
  font-family: 'Inter', sans-serif;
  line-height: 1.4;
  margin-bottom: 1.5em;
}

.dice-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
}

.button {
  border-radius: 0.2375rem;
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.15);
  display: block;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-inline: auto;
}

.roll-button {
  background-color: var(--color-primary-accent);
  border: none;
  color: white;
  font-size: 1.25rem;
  padding: 0.6em 1.75em;
}

.new-game-button {
  background-color: white;
  border: 1px solid lightgray;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding: 0.6em 1.25em;
}

.button:focus-visible,
.die-button:focus-visible {
  outline: 2px dashed black;
  outline-offset: 2px;
}

.button:active {
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.15);
  position: relative;
  top: 1px;
}

.start-new-game-msg {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  margin-bottom: 1em;
}

.times-container {
  display: flex;
  font-size: 1.2rem;
  gap: 1em;
  justify-content: center;
  margin-bottom: 1em;
}

.time-container {
  width: 4em;
}

.time-text {
  border-bottom: 2px solid lightgray;
}

.time-counter {
  white-space: nowrap;
}

.time-digit {
  display: inline-flex;
  justify-content: center;
  width: 0.62em;
}

.time-dot {
  display: inline-flex;
  justify-content: center;
  width: 0.3em;
}

.dice-overlay {
  align-items: center;
  background-color: rgb(var(--game-bg-color) / 0.9);
  color: var(--color-primary-accent);
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  inset: -2px;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: opacity 0ms ease-in-out, visibility 0s 0ms;
  visibility: hidden;
}

.visible-overlay {
  opacity: 1;
  transition: opacity 0.2s ease-in-out, visibility 0s 0s;
  visibility: visible;
}

.huge-overlay-text {
  font-size: 4rem;
}

.github-info {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 2em 1em 1em;
  text-align: center;
}

.github-link {
  color: white;
}
